@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1 {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    text-align: center;
}

section {
    color:#fff;
}

a {
    margin: 0.5rem;
}

a:hover {
    color: #00DDB8;
}

.container-fluid {
    padding: 0 0;
}

/* background Image full page - https://css-tricks.com/perfect-full-page-background-image/ */
/* To darken the background image - https://stackoverflow.com/questions/23208200/how-to-darken-a-background-using-css/36390220 */
.header {
    width: 100%;
    height: 120vh;
    background: linear-gradient(
        rgba(0, 0, 0, .1), 
        rgba(0, 0, 0, .5)
        ), 
    url('../img/background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
}
/* End of Background Image Code */

/*====== NAVBAR =======*/
/* Transparent Navbar with scroll effect from: https://stackoverflow.com/questions/29646622/set-bootstrap-navbar-transparency-on-scroll */
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    padding: 0 1rem;
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.2); 
}

/* How to keep the navbar sticky: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 0;
    color: #fff;
    padding-left: 15px;
}

.navbar-brand h1 {
    font-size: 1.5rem;
}

.nav-item {
    font-size: 20px;
    color: #fff;
}

/* Hover Animation Code from: https://github.com/IanLunn/Hover/blob/master/css/hover.css */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #00DDB8;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, 
.hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

  /* Solution For Visible Navbar Toggler: https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.fa {
    color: #fff;
    margin-top: .3rem;
}
/*====== END NAVBAR ======*/

/*====== BANNER SECTION ======*/

.hero-h1, .hero-h2, .social-icons {   
    position: relative; 
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 56px;
    text-align: center;
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 2);
}

.hero-h1 {
    padding-top: 13rem;
    font-weight:400;
}

.hero-h2 {
    padding-top: 3rem;
    font-weight: 200;
}

.social-icons {
    padding-top: 3rem;
}

/* Debug unconnected underline after icon: https://stackoverflow.com/questions/33835756/after-including-bootstrap-icons-get-weird-underline */
.social-icons a {
    text-decoration: none;
}

.social-icons .fa { 
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
    margin: 0 40px;
    text-decoration: none;
}

.social-icons .fa:hover {
    color:#00DDB8;
}

/*====== END OF BANNER SECTION ======*/

/*====== ABOUT ME ======*/

#about-me {
    padding: 5rem 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 1)
        ), 
    url('../img/background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
}

#about-me .section-heading {
    margin: 6rem 0 4rem 0;

}

/* Underlining the Heading with adjustable border: https://www.steckinsights.com/shorten-length-border-bottom-pure-css/ */
#about-me .section-heading:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 30%; 
    padding-top: 20px; 
    border-bottom: 2px solid #00DDB8; 
}

#about-me h5 {
    padding: 1rem 6rem 2.5rem 4rem;
}

#about-me .aboutme-img-container {
    margin-left: 10rem;
    margin-bottom: 2rem;
    position:relative;
    z-index: 1;
}

#about-me .aboutme-img {
    border: 10px solid #00DDB8;
    width: 98%;
    margin-top: 2rem;
}

#about-me .progress h5 {
    padding: 0 1rem 0 0;
}

#about-me .progress {
   background-color: inherit; 
   margin: 20px;
   height: 25px;
}

#about-me .progress-bar {
    border-radius: 5px;
    background-color: #00DDB8;
}


/* Coding from WebCifar - Modified: https://github.com/WebCifar/one-page-website-html-css-project-for-practice/blob/master/style.css */
#about-me .aboutme-img-container::after {
    content:'';
    position: absolute;
    left: -33px;
    bottom: 130px;
    height: 70%;
    width: 98%;
    border: 9px solid #1E90FF;
    z-index: -1;
}

.projects-cta {
    padding: 10px 20px;
    color: white;
    border-radius: 100px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    margin-right: 4rem;
    transition: .3s ease;
    transition-property: background-color, color;
    float: left;
}

.projects-cta:hover {
    color: #1E90FF;
    background-color: transparent;
    background: white;
}

.contactme-cta {
    background-color: #00DDB8;
    padding: 10px 20px;
    color: white;
    border-radius: 100px;
    border-width: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    margin-right: 4rem;
    transition: .3s ease;
    transition-property: background-color, color;
    float: left;
}

.contactme-cta:hover {
    color: #00DDB8;
    background-color: transparent;
    background: white;
}

/* End of Modified Code */

/*====== END OF ABOUT ME ======*/

/*====== TIMELINE  ======*/

#history {
    padding: 5rem 0;
}

#history .section-heading:after{
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 30%; 
    padding-top: 20px; 
    border-bottom: 2px solid #00DDB8; 
}

/* WSSchool Timeline - Modified: https://www.w3schools.com/howto/howto_css_timeline.asp */

#history .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
}

#history .timeline img {
    max-width: 27%;
    position: relative;
    background-color: #00DDB8;
    border-radius: 250px;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 3rem;
}
  
#history .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:#00DDB8;
    top: 3rem;
    bottom: 35rem;
    left: 50%;
    margin-left: -3px;
}

#history .timeline .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

#history .timeline .container .left {
    border-width: 5px;
    border-color: #000;
}

#history .timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -16px;
    background-color:white;
    border: 4px solid#00DDB8;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
#history .timeline .left {
    left: -25.275%;
}
  
#history .timeline .right {
    left: 25.275%;
}

#history .timeline .bottom {
    padding-top: 2rem;
    left: -25.275%;
}
  
#history .timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent black;
}
  
#history .timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}
  
#history .timeline .right::after {
    left: -16px;
}
  
#history .timeline .content {
    padding: 5px 30px;
    position: relative;
    border-radius: 6px;
}

.bottom-heading,
#history .timeline .content h2 {
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, .5);
}

#history .timeline .image {
    left: 36%;
}

#history .timeline .bottom-heading {
    padding: 0 0 1.5rem 0;
    position: relative;
    top: 20px;
}

#history .timeline .bottom-text {
    padding: 0 14rem;
}

/*====== TESTIMONIALS ======*/
#testimonials {
    padding-top: 6rem;
    padding-bottom: 12rem;
    /* background Image full page - https://css-tricks.com/perfect-full-page-background-image/ */
    /* To darken the background image - https://stackoverflow.com/questions/23208200/how-to-darken-a-background-using-css/36390220 */
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.9)
        ), 
    url('../img/background2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

#testimonials .section-heading {
    margin-bottom: 6rem;
}

#testimonials .section-heading:after{
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 30%; 
    padding-top: 20px; 
    border-bottom: 2px solid #00DDB8;
}

#testimonials .carousel-item {
    color: #fff;
    padding: 0 20rem;
}

#testimonials .carousel-indicators {
    top: 15rem;
}

#testimonials .carousel-control-next, 
#testimonials .carousel-control-prev {
    width: 30%;
}

/*====== PROJECTS ======*/

#projects {
    padding-top: 5rem;
    background: inherit;
} 

#projects .section-heading {
    padding-bottom: 6rem;
}

#projects .section-heading:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 30%; 
    padding-top: 20px; 
    border-bottom: 2px solid #00DDB8;
}

/* WebCifar's code - Editted & Modified: https://codepen.io/Web_Cifar/pen/dyXNVep */
#projects .container {
    width: 90%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

#projects .left {
    width: 70%;
    height: 30rem;
    background: url(https://blog.hubspot.com/hs-fs/hubfs/frans-hals-museum-best-website-design-2018.png?width=690&name=frans-hals-museum-best-website-design-2018.png)
    no-repeat center / cover;
    border-radius: 8px; 
    border: solid #fff;
    border-width: 3px;
}

#projects .left-2 {
    width: 70%;
    height: 30rem;
    background: url(https://blog.hubspot.com/hs-fs/hubfs/00-Blog-Related_Images/blog/images/Screen_Shot_2015-08-04_at_5.16.53_PM.png?width=667&height=353&name=Screen_Shot_2015-08-04_at_5.16.53_PM.png)
    no-repeat center / cover;
    border-radius: 8px; 
    border: solid #fff;
    border-width: 3px;
}

#projects .left-3 {
    width: 70%;
    height: 30rem;
    background: url(https://blog.hubspot.com/hs-fs/hubfs/rainforest-guardians-best-website-design-2016.jpg?width=690&name=rainforest-guardians-best-website-design-2016.jpg)
    no-repeat center / cover;
    border-radius: 8px; 
    border: solid #fff;
    border-width: 3px;
}

#projects .left-4 {
    width: 70%;
    height: 30rem;
    background: url(https://blog.hubspot.com/hs-fs/hubfs/1917%20homepage.png?width=1395&name=1917%20homepage.png)
    no-repeat center / cover;
    border-radius: 8px; 
    border: solid #fff;
    border-width: 3px;
}

#projects .right {
    width: 50%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: #fff;
    margin-left: -150px;
}

#projects .right h1 {
    font-size: 40px;
    font-weight: lighter;
}

#projects .right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

#projects .right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color:#00DDB8;
    color:#fff;
    padding: 15px 30px;
    display: inline-block;
    letter-spacing: 2px;
    margin-left: 9rem;
}
/* End of WebCifar Code */

#projects .right a:hover {
    background-color:#fff;
    color:#00DDB8;
}

/*====== CONTACT ME ======*/

#contactme {
    padding-top: 1.5rem;
}

#contactme .section-heading {
    padding-bottom: 4rem;
}

#contactme .section-heading:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 30%; 
    padding-top: 20px; 
    border-bottom: 2px solid #00DDB8;
}

#contactme .jumbotron {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    margin-bottom: 5rem;
    border: 2px solid #fff;
    border-radius: 10px;
    /* background Image full page - https://css-tricks.com/perfect-full-page-background-image/ */
    /* To darken the background image - https://stackoverflow.com/questions/23208200/how-to-darken-a-background-using-css/36390220 */
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.7)
        ), 
    url('../img/background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}

#contactme h2 {
    text-decoration: underline;
    text-align: center;
    visibility: hidden;
    padding-top: 0;
}

#contactme .btn {
    margin-top: 1.5em;
    border-radius: 10px;
    background-color: #00DDB8;
    color: #fff;
    width: 100%;
}

#contactme .btn:hover {
    background-color: #fff;
    color: #00DDB8;
}

#contactme .contact-info {
    width: 90%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

/*====== FOOTER ======*/
.footer {
    text-align: center;
}

.footer h3 {
    font-family: 'Roboto', sans-serif;
}

.footer a{
    color: #fff;
}

.footer a:hover {
    color:#00DDB8;
}

.footer .footer-social-icons {
    display: flex;
}

.footer .footer-social-icons fa {
    text-decoration: none;
}
 
.footer .footer-social-item {
    font-size: 2rem;
    padding: 0 1rem;
} 

/* Hover Code from: https://codepen.io/nxworld/pen/ZYNOBZ?fbclid=IwAR1C0Fp-oCTJS1KfeV7TDmL_3KJNneOL146xKX0Y1Bl6UbP6X6TSF_SKV-k */

.footer .footer-social-icons .footer-social-item i:hover{
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: rgb(80, 209, 198); 
}

/*====== Media queries - Mobile Phones - iPhone 5/SE ======*/

@media only screen and (max-width : 568px) {    

    /*====== NAVBAR - iPhone 5/SE ======*/

    .navbar {
        margin-left: 0;
    }

    .navbar.scrolled {
        background: rgba(0, 0, 0, 1);
    }

    .header {
        height: 100vh;
    }

    /*====== HERO SECTION - iPhone 5/SE ======*/

    .hero-h1 {
        padding-top: 4rem;
    }

    .hero-h1, 
    .hero-h2, 
    .social-icons {
        font-size: 40px
    }

    /*====== ABOUT ME - iPhone 5/SE ======*/
    #about-me .aboutme-img {
        position: relative;
        right: 5rem;
        margin-top: 0;
        height: 100%;
    }

    #about-me .aboutme-img-container::after {
        visibility: hidden;
    }

    #about-me h5 {
        padding: 1rem .5rem 1rem .5rem;
        text-align: center;
    }

    #about-me .projects-cta {
        margin-left: 5.2rem; 
    }   

    #about-me .contactme-cta {
        position: relative;
        left: 4.2rem;
        padding: 10px 15px;
    }

    #about-me .progress h5 {
        margin-right: 5rem;
    }

    #about-me {
        padding-bottom: 4rem;
    }

    /*====== TIMELINE - iPhone 5/SE ======*/
    /* W3Schools Timeline Media Query - Modified: https://www.w3schools.com/howto/howto_css_timeline.asp */

    #history {
        padding-bottom: 4rem;
    }

    #history .timeline::after {
        left: 13px;
        bottom: 34rem;
    }
  
    #history .timeline .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    #history .timeline .left,
    #history .timeline .right,
    #history .timeline .bottom {
        left: -15px;
    }

    #history .timeline .bottom {
        padding-top: 0;
    }
  
    #history .timeline .container::before {
        left: 60px;
        border: medium solid black;
        border-width: 10px 10px 10px 0;
        border-color: transparent black transparent transparent;
    }
  
    #history .timeline .left::after, 
    #history .timeline .right::after,
    #history .timeline .bottom::after {
        left: 15px;
    }

    #history .timeline img {
        max-width: 50%;
    }

    #history .timeline .image {
        left: 25%;
    }

    #history .timeline .bottom-heading {
        padding-top:0;
        position: relative;
        top: 0px;
    }

    #history .timeline .bottom-text {
        padding: 0 1rem;
    }

    /*====== TESTIMONIALS - iPhone 5/SE ======*/

    #testimonials {
        padding-bottom: 7rem;
    }

    #testimonials .section-heading {
        margin-bottom: 4rem;
    }

    #testimonials .carousel-item {
        padding:0 1rem;
    }

    #testimonials .carousel-control-next-icon, 
    #testimonials .carousel-control-prev-icon {
        position: relative;
        top: 13.5rem;
    }

    #testimonials .carousel-indicators li {
        position: relative;
        top: 9.2rem;
    }

    /*====== PROJECTS - iPhone 5/SE ======*/

    #projects .section-heading {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    /* WebCifar's code for Project Section Media Query - Modified - https://codepen.io/Web_Cifar/pen/dyXNVep */
    #projects .container {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    #projects .left {
        width: 100%;
        height: 400px;
    }

    #projects .left-2 {
        width: 100%;
        height: 400px;
    }

    #projects .left-3 {
        width: 100%;
        height: 400px;
    }

    #projects .left-4 {
        width: 100%;
        height: 400px;
    }

    #projects .right {
        width: 90%;
        margin: -6rem 2.5rem 0 2.5rem;
    }

    #projects .right a{
        margin-left: 2.5rem;
    }

    /*====== CONTACT ME - iPhone 5/SE ======*/

    #contactme .section-heading {
        padding-top: 3rem;
        padding-bottom: 0;
    }

    #contactme .jumbotron {
        display: flex;
        flex-direction: column;
        border: 0;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    #contactme h2 {
        visibility: visible;
    }

    #contactme .contact-phone,
    #contactme .contact-email,
    #contactme .contact-address {
        text-align: center;
    }

    #contactme .contact-address {
        padding-bottom: 1.5rem;
    }
}

/*====== Media queries - Mobile Phones - iPhone 6,7,8,X ======*/

@media only screen 
and (min-width: 375px)
and (max-width: 667px) { 

    /*====== NAVBAR - iPhone 6,7,8,X ======*/

    .navbar {
        margin-left: 0;
    }

    .navbar.scrolled {
        background: rgba(0, 0, 0, 1);
    }

    .header {
        height: 100vh;
    }
    /*====== HERO SECTION - iPhone 6,7,8,X ======*/

    #hero .hero-h1 {
        padding-top: 8rem;
        font-size: 50px;
    }

    #hero .hero-h2 {
        font-size: 45px;
    }

    /*====== ABOUT ME - iPhone 6,7,8,X ======*/

    #about-me .aboutme-img {
        position: relative;
        right: 5rem;
        margin-top: 0;
        height: 100%;
    }

    #about-me .aboutme-img-container::after {
        visibility: hidden;
    }

    #about-me h5 {
        padding: 1rem 1rem 2rem 1rem;
        text-align: center;
    }

    #about-me .projects-cta {
        margin-left: 6.5rem; 
    }   

    #about-me .contactme-cta {
        margin-left: 1.55rem !important;
        padding: 10px 20px !important;
    }

    #about-me .progress h5 {
        margin-right: 5rem;
    }

    #about-me {
        padding-bottom: 4rem;
    }
    /*====== TIMELINE - iPhone 6,7,8,X ======*/
    /* W3Schools Timeline Media Query - Modified: https://www.w3schools.com/howto/howto_css_timeline.asp */

    #history {
        padding-bottom: 4rem;
    }

    #history .timeline::after {
        left: 13px;
        bottom: 33rem;
    }
  
    #history .timeline .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    #history .timeline .left,
    #history .timeline .right,
    #history .timeline .bottom {
        left: -15px;
    }

    #history .timeline .bottom {
        padding-top: 0;
    }
  
    #history .timeline .container::before {
        left: 60px;
        border: medium solid black;
        border-width: 10px 10px 10px 0;
        border-color: transparent black transparent transparent;
    }
  
    #history .timeline .left::after, 
    #history .timeline .right::after,
    #history .timeline .bottom::after {
        left: 15px;
    }

    #history .timeline img {
        max-width: 50%;
    }

    #history .timeline .image {
        left: 25%;
    }

    #history .timeline .bottom-heading {
        padding-top:0;
        position: relative;
        top: 0px;
    }

    #history .timeline .bottom-text {
        padding: 0 1rem;
    }

    /*====== TESTIMONIALS - iPhone 6,7,8,X ======*/

    #testimonials {
        padding-bottom: 7rem;
    }

    #testimonials .section-heading {
        margin-bottom: 4rem;
    }

    #testimonials .carousel-item {
        padding:0 1rem;
    }

    #testimonials .carousel-control-next-icon, 
    #testimonials .carousel-control-prev-icon {
        position: relative;
        top: 13.5rem;
    }

    #testimonials .carousel-indicators li {
        position: relative;
        top: 8.5rem;
    }

    /*====== PROJECTS - iPhone 6,7,8,X ======*/

    #projects .section-heading {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    /* WebCifar's code for Project Section Media Query - Modified - https://codepen.io/Web_Cifar/pen/dyXNVep */
    #projects .container {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    #projects .left {
        width: 100%;
        height: 400px;
    }

    #projects .left-2 {
        width: 100%;
        height: 400px;
    }

    #projects .left-3 {
        width: 100%;
        height: 400px;
    }

    #projects .left-4 {
        width: 100%;
        height: 400px;
    }

    #projects .right {
        width: 90%;
        margin: -6rem 2.5rem 0 2.5rem;
    }

    #projects .right a {
        margin-left: 4.2rem;
    }

    /*====== CONTACT ME - iPhone 6,7,8,X ======*/

    #contactme .section-heading {
        padding-top: 3rem;
        padding-bottom: 0;
    }

    #contactme .jumbotron {
        display: flex;
        flex-direction: column;
        border: 0;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    #contactme h2 {
        visibility: visible;
    }

    #contactme .contact-phone,
    #contactme .contact-email,
    #contactme .contact-address {
        text-align: center;
    }

    #contactme .contact-address {
        padding-bottom: 1.5rem;
    }
}   

/*====== Media Queries for tablets/iPad ======*/

@media only screen 
and (min-width: 768px) 
and (max-width: 1024px) {

    /*====== NAVBAR - iPad ======*/

    .navbar {
        margin-left: 0;
    }

    .navbar.scrolled {
        background: rgba(0, 0, 0, 1);
    }

    .header {
        height: 100vh;
    }
    /*====== HERO SECTION - iPad ======*/

    #hero .hero-h1 {
        padding-top: 20rem;
        font-size: 50px;
    }

    #hero .hero-h2 {
        font-size: 45px;
    }

    /*====== ABOUT ME - iPad ======*/

    #about-me .aboutme-img {
        height: auto;
        margin: 2rem 0 0 7rem; 
    } 

    #about-me .aboutme-img-container::after {
        height: 90%;
        bottom: 18px;
        margin: 2rem 0 0 7rem; 
    } 

    #about-me h5 {
        padding: 1rem 0rem 2.5rem 0rem;
        margin: 0;
        text-align: center;
        position: relative;
        left: 12rem;
    }

    #about-me .contactme-cta {
        position: relative;
        left: 6.3rem;
    }

    #about-me .projects-cta {
        position: relative;
        left: 7rem;
    }

    #about-me .progress h5 {
        position: absolute;
        left: 0rem;
    }

    #about-me .progress-bar {
        margin-left: 6rem;
    }

    /*====== TIMELINE - iPad ======*/

    #history .timeline::after {
        bottom: 38rem;
    }

    #history .timeline .container::after {
        right: -15px;
    }

    #history .timeline .right::after {
        left: -14px;
    }

    /*====== TESTIMONIALS - iPad ======*/

    #testimonials .carousel-indicators {
        top: 17rem;
    }

    #testimonials .carousel-item {
        margin-left: 0;
        padding: 0 10rem;
    }

    #testimonials .carousel-control-next, 
    #testimonials .carousel-control-prev {
        width: 20%;
    }

    /*====== CONTACT ME - iPad ======*/

    #contactme .section-heading {
        padding-top: 2rem;
    }

    #contactme .contactme-left {
        position: relative;
        right: 1rem;
    }

    #contactme form {
        position: relative;
        left: 1rem;
    }

    /*====== PROJECTS - iPad ======*/

    #projects .section-heading {
        padding-top: 2rem;
    }

    #projects .container {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    #projects .left {
        width: 100%;
        height: 400px;
    }

    #projects .left-2 {
        width: 100%;
        height: 400px;
    }

    #projects .left-3 {
        width: 100%;
        height: 400px;
    }

    #projects .left-4 {
        width: 100%;
        height: 400px;
    }

    #projects .right {
        width: 90%;
        margin: 0;
        margin-top: -100px;
    }

    #projects .right a {
        margin: 0 22rem;
    }

    #projects .right p {
        padding: 0 7rem;
        text-align: center;
    }

    /*====== FOOTER ======*/

    .footer .footer-social-item {
        padding: 0 .5rem;
    }
} 

    /*====== Media Queries for Desktops ======*/

@media only screen and (min-width: 1300px) {

    /*====== ABOUT ME - Desktops ======*/

    #about-me .aboutme-img {
        height: auto;
        margin: 3rem 0;
    }

    #about-me .aboutme-img-container::after { 
        height: 82%;
        bottom: 5rem;
    }

    #about-me h5 {
        padding-top: 6rem;
    }
}

  
  