body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* background Image full page - https://css-tricks.com/perfect-full-page-background-image/ */
/* To darken the background image - https://stackoverflow.com/questions/23208200/how-to-darken-a-background-using-css/36390220 */
header {
    width: 100%;
    height: 100vh;
    margin-bottom: 2px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 0.3)
        ), 
    url('../img/background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
}

/*====== NAVBAR =======*/

.navbar {
    background-color:rgba(31, 30, 30, 0.24);
    transition: .2 ease background-color;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 0;
    color: #fff;
}

.nav-item {
    font-size: 20px;
    color: #fff;
}

/* Hovering over effect: https://www.w3schools.com/cssref/sel_hover.asp */

a:hover {
    color: #7CFC00;
}


/* Animation Code from: https://github.com/IanLunn/Hover/blob/master/css/hover.css */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #7CFC00;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, 
.hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

  /* Solution For Visible Navbar Toggler: https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.fa {
    color: #fff;
    margin-top: .3rem;
}
/*====== END NAVBAR ======*/

/*====== BACKGROUND IMAGE ======*/

.hero-h1, .hero-h2, .social-icons {   
    position: relative; 
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 56px;
    text-align: center;
    /* margin-left: 40rem; */
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 2);
}

.hero-h1 {
    padding-top: 13rem;
    font-weight:400;
}

.hero-h2 {
    padding-top: 3rem;
    font-weight: 200;
}

.social-icons {
    padding-top: 3rem;
}

/* Debug annoying unconnected underline after icon: https://stackoverflow.com/questions/33835756/after-including-bootstrap-icons-get-weird-underline */
.social-icons a {
    text-decoration: none;
}

.social-icons .fa { 
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 24px;
    margin-right: 24px;
    text-decoration: none;
}

.social-icons .fa:hover {
    color: #7CFC00;
}